.container { 
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: auto;
    justify-content: center;
}

.glow {
    color: rgba(0, 0, 0, 0.649);
    transition: 0.6s;
}

.glow:hover {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}



/*  for portfolio */   

/* card html animation */
.cardhtml {
    width: 90%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: white;
    justify-self: center;
    border: 1px solid;
    border-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 20px 5px rgba(205, 205, 205, 0.101);
    transition: 0.4s;
    
}

.cardhtml:hover {
    width: 100%;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(184, 183, 183, 0.132);
    justify-self: center;
    box-shadow: 0px 0px 60px 5px rgb(255, 255, 255);
    color: rgb(139, 27, 27);
    
}

.cardcss {
    width: 90%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: white;
    justify-self: center;
    border: 1px solid;
    border-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 20px 5px rgba(205, 205, 205, 0.101);
    transition: 0.4s;
}

.cardcss:hover {
    width: 100%;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(184, 183, 183, 0.132);
    justify-self: center;
    box-shadow: 0px 0px 60px 5px rgb(255, 255, 255);
    color: #4a409c;
}

.cardjavascript {
    width: 90%;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: white;
    justify-self: center;
    border: 1px solid;
    border-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 20px 5px rgba(205, 205, 205, 0.101);
    transition: 0.4s;
}

.cardjavascript:hover {
    width: 100%;
    height: 160px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background: rgba(184, 183, 183, 0.132);
    justify-self: center;
    box-shadow: 0px 0px 60px 5px rgb(255, 255, 255);
    color: rgb(149, 151, 1);
    
}

/* end of card animation */




/* card html css javascript font */
.card1text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 30px 20px 10px;
    letter-spacing: 1px;
}

.cardp1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(59, 59, 59);
}




/* fortfolio */

.container2 { 
    border: none;
    width: 90%;
    padding: 0.1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 5px;
    justify-content: center;
    justify-self: center;
}


.card2 {
    width: 300px;
    height: 140px;
    border-radius: 5px;
    border: none;
    background: white;
    justify-self: center;
    border: 1px solid;
    border-color: rgb(227, 227, 227);
    background-size: 300px; background-repeat: no-repeat;
    box-shadow: 0px 0px 1px 0px black;
    
}

.ani {
    box-shadow: 0px 0px 0px 0px white;
    transition: 0.5s;
}
.ani:hover {
    box-shadow: 0px 0px 15px 1px white;
}

/* enter yor name or fill up section i.n footer  or input text section*/

.entryarea {
    position: relative;
    height: 78px;
    line-height: 30px;
    transition: 1s ease;
}

input {
    position: absolute;
    width: 180px;
    height: 30px;
    font-size: 1.5em;
    padding-left: 10.30px;
    line-height: 10px;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
    background: transparent;
    transition: 0.3s ease;
    z-index: 1111;
    color: rgb(188, 188, 188);
    
}
.labelline{
    position: absolute;
    font-size: 1em;
    
    color: rgb(126, 126, 126);
    background-color:  rgb(52, 52, 52);
    padding: 0px 5px 0px 5px;
    margin-left: 10px;
    transition: 0.3s ease;
}

input:focus +,
input:valid +{
    color: white;
    border: 0.1px solid white;
}
input:focus + .labelline,
input:valid + .labelline{
    color: white;
    height: 30px;
    line-height: 30px;
    transform: translate(-16px, -16px)scale(0.70);
    z-index: 11111;
}
